<figure class="text-center">
    <blockquote class="blockquote">
        <p><strong>Gestión de Consumo de Planes de Datos de SIMcard</strong></p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Aplicativo <cite title="Source Title">Web</cite>
    </figcaption>
</figure>
<div class="container">
    <nav class="navbar navbar-expand-xl navbar-dark bg-pink">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{title}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="container">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="#">Operadores</a>
                        </li>
                    </div>
                    <div class="container">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link text-white" routerLink="/directivas">SIMcards </a>
                        </li>
                    </div>
                    <div class="container">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link text-white" routerLink="/clientes"> Clientes </a>
                        </li>
                    </div>
                    <div class="container">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="#">Dispositivos</a>
                        </li>
                    </div>
                    <div class="container">
                        <li class="nav-itemr">
                            <a class="nav-link text-white" aria-current="page" href="#">Planes</a>
                        </li>
                    </div>
                    <div class="container">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="#">Consumos</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>